*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.title-h1{
    padding: 10px;
    background-color:#843B62;
    color: white;
}

.background-h1{
    margin: 10px;
    max-width: 1024px;
    border-radius: 20px;
}

body{
    background-color: #FFB997;
}

.container-ex1{
    background-color: #843B62;
    min-height: 100px;
}
.items-ex1{
    background-color: #F67E7D;
    color: #843B62;
    border-radius: 20px;
}